body{
  background-color: black;
  width: 1000px;
  height: 2000px;
}


.recursive{
  font-family: 'recursive';
}

.handjet{
  font-family: 'handjet';
}

#p1{
  position: absolute;
  left: 18.5%;
  top: 10px;
  transform: rotate(24deg);
  font-size: 150px;
  color: blue;
  font-variation-settings: "ELSH" 4, "wght" 700, "ELGR" 1;
}
#p1v2{
  position: absolute;
  top: -41px;
  left: 26.5%;
  transform: rotate(28deg);
  font-size: 150px;
  color: blue;
  font-variation-settings: "ELSH" 4, "wght" 700, "ELGR" 1;
}

#p2{
  position:absolute;
  top:1%;
  left: 1%;
  z-index: -1;
  font-size: 150px;
  color: blue;
  font-variation-settings: "ELSH" 1, "wght" 300, "ELGR" 1;
}
 
#p3{
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 200px;
  color: red;
  font-variation-settings: "ELSH" 2, "wght" 800, "ELGR" 1 ;
  transform: rotate(25deg);
}
  
h1{
  position:absolute;
  top: 121px;
  left:290px;
  font-size:75px;
  color:brown;
  font-variation-settings: "MONO" 0, "CASL" 0.37, "wght" 600, "slnt" -15 ;
  transform: rotate(-66deg);
}
  